# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/reports

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env variables
/src/config/env.json

# favicons
/public/favicon.svg
/public/logo192.jpg
/public/logo512.jpg
/public/appicon.svg
/src/assets/img/appicon.svg
